<html>
<head>
<title>{xlt t='Progress Note'}</title>
{headerTemplate assets='jquery-ui|jquery-ui-base|common|datetime-picker'}
    <script>
        {literal}
        // handles the call back from the popup
        function set_related(codetype, code, selector, codedesc) {
            if (code) {
                if (codetype == 'ICD10') {
                    document.getElementById('dxcode').value += code + " - " + codedesc + " ,, \r\n";
                }
                if (codetype == 'CPT4') {
                    document.getElementById('cpt4').value += code + " - " + codedesc + " ,, \r\n";
                }
            }
        }
        // This invokes the find-code popup.
        function sel_diagnosis() {
            dlgopen('../../patient_file/encounter/find_code_popup.php?codetype=ICD10', '_blank', 1024, 825);
        }
        function sel_code() {
            dlgopen('../../patient_file/encounter/find_code_popup.php?codetype=CPT4','_blank', 1024, 825);
        }
        {/literal}
    </script>
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2>{xlt t='Progress Note'}</h2>
                <form name="soap" method="post" action="{$FORM_ACTION}/interface/forms/progress_note/save.php" onsubmit="return top.restoreSession()">
                    <input type="hidden" name="csrf_token_form" value="{$CSRF_TOKEN_FORM|attr}" />
                    <fieldset>
                        <legend>{xlt t='Date'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="text" name="datedata" class="form-control datepicker" onkeyup="top.isSoapEdit = true;" value="{$data->get_datedata()|date}" readonly>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Start Time'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="text" name="starttime" class="form-control" onkeyup="top.isSoapEdit = true;" value="{$data->get_starttime()|text}">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='End Time'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="text" name="endtime" class="form-control" onkeyup="top.isSoapEdit = true;" value="{$data->get_endtime()|text}">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Face to Face Time Spent'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="text" name="facetofacetime" class="form-control" onkeyup="top.isSoapEdit = true;" value="{$data->get_facetofacetime()|text}">
                            </div>
                        </div>
                    </fieldset>
                    <!--<fieldset>
                        <legend>{xlt t='Setting'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="text" name="setting" class="form-control" onkeyup="top.isSoapEdit = true;" value="{$data->get_setting()|text}">
                            </div>
                        </div>
                    </fieldset>-->
                    <!--<fieldset>
                        <legend>{xlt t='Mode'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="text" name="mode" class="form-control" onkeyup="top.isSoapEdit = true;" value="{$data->get_mode()|text}">
                            </div>
                        </div>
                    </fieldset>-->
                    <fieldset>
                        <legend>{xlt t='Attendant(s)'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <textarea type="text" name="attendant" class="form-control" onkeyup="top.isSoapEdit = true;">{$data->get_attendant()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Focus of Session'}</legend>
                        <div class="container">
                            <div class="form-group" >
                              <!--  <input type="text" name="focusofsession" class="form-control" onkeyup="top.isSoapEdit = true;" value="{$data->get_focusofsession()|text}">
                            --></div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t=''}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <input type="checkbox" name="ded" id="ded" onclick="checkVal('ded');" {$data->get_dedchecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_ded()}">
                                <label class="form-check-label" for="ded"> Decrease Emotional Disturbance</label><br>
                                <input type="checkbox" name="iicp" id="iicp" onclick="checkVal('iicp');" {$data->get_iicpchecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_iicp()|text}"> 
                                <label class="form-check-label" for="iicp"> Increase Insight/Cognitive Patterns</label><br>
                                <input type="checkbox" name="iar" id="iar" onclick="checkVal('iar');" {$data->get_iarchecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_iar()|text}">
                                <label class="form-check-label" for="iar"> Improve Attachment Relationships</label><br>
                                <input type="checkbox" name="dtr" id="dtr" onclick="checkVal('dtr');" {$data->get_dtrchecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_dtr()|text}">
                                <label class="form-check-label" for="dtr"> Decrease Trauma Response</label><br>
                                <input type="checkbox" name="ppg" id="ppg" onclick="checkVal('ppg');" {$data->get_ppgchecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_ppg()|text}">
                                <label class="form-check-label" for="ppg"> Promote Personal Growth</label><br>
                                <input type="checkbox" name="pgal" id="pgal" onclick="checkVal('pgal');" {$data->get_pgalchecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_pgal()|text}">
                                <label class="form-check-label" for="pgal"> Process Grief and Loss</label><br>
                                <input type="checkbox" name="bcs" id="bcs" onclick="checkVal('bcs');" {$data->get_bcschecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_bcs()|text}">
                                <label class="form-check-label" for="bcs"> Building Coping Skills</label><br>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Goal Addressed'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <!--<input type="checkbox" name="goal1addressed" id="g1a" class="form-check-input" onclick="checkVal('g1a')" {$data->get_g1achecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_g1a()|text}">
                                <input type="text" name="goaladdressed" class="form-control m-1"  onkeyup="top.isSoapEdit = true;" value = "{$data->get_goaladdressed()|text}{$GOAL1|text}" placeholder="Goal 1">
                                <input type="checkbox" name="goal2addressed" id="g2a" class="form-check-input" onclick="checkVal('g2a')" {$data->get_g2achecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_g2a()|text}">
                                <input type="text" name="goaladdressed2" class="form-control m-1"  onkeyup="top.isSoapEdit = true;" value = "{$data->get_goaladdressed2()|text}{$GOAL2|text}" placeholder="Goal 2">
                                <input type="checkbox" name="goal3addressed" id="g3a" class="form-check-input" onclick="checkVal('g3a')" {$data->get_g3achecked()} onkeyup="top.isSoapEdit = true;" value="{$data->get_g3a()|text}">
                                <input type="text" name="goaladdressed3" class="form-control m-1"  onkeyup="top.isSoapEdit = true;" value = "{$data->get_goaladdressed3()|text}{$GOAL3|text}" placeholder="Goal 3">
                                --><select name="goaladdressed" class="form-control">
                                    <option> ---- Select ---- </option>
                                    <option value="{$data->get_goaladdressed()|text}{$GOAL1|text}">{$data->get_goaladdressed()|text}{$GOAL1|text}</option>
                                    <option value="{$data->get_goaladdressed()|text}{$GOAL2|text}">{$data->get_goaladdressed()|text}{$GOAL2|text}</option>
                                    <option value="{$data->get_goaladdressed()|text}{$GOAL3|text}">{$data->get_goaladdressed()|text}{$GOAL3|text}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Situation'}</legend>
                        <div class="container">
                            <div class="form-group"><p>**Situation. Use behavioral terms to describe client's (or caregiver's) current complaint or condition of client. May include new problems or how the client (or family) is progressing</p>
                                <textarea name="situation" class="form-control" cols="60" rows="6" onkeyup="top.isSoapEdit = true;">{$data->get_situation()|text}{$REASON|attr}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Intervention'}</legend>
                        <div class="container"><p>**Must refer to the treatment goal and describe what you as the therapist did in the session (not what the client did in the session.) When applicable, it can be a risk assessment. Identify skills used to cope/adapt/respond/problem solve. Reinforce new behaviors, strengths. Identify specific skills that are taught/modeled/practiced</p>
                            <div class="form-group">
                                <textarea name="intevntion" class="form-control" cols="60" rows="6" onkeyup="top.isSoapEdit = true;">{$data->get_intevntion()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Progress/Barrier Toward Goal'}  </legend>
                        <div class="container">
                            <div class="form-group"><p>**This is the client's response to the intervention(s). Explain if progress is made and what it is. Or describe the lack of progress and what are the barriers to be addressed to make progress.</p>
                                <textarea name="progressbarrier" class="form-control" cols="60" rows="6" onkeyup="top.isSoapEdit = true;">{$data->get_progressbarrier()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Plan'} </legend>
                        <div class="container"><p>**Follow up items, homework for the client, referrals to community resource.</p>
                            <div class="form-group">
                                <textarea name="plane" class="form-control" cols="60" rows="6" onkeyup="top.isSoapEdit = true;">{$data->get_plane()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Diagnosis - More can be added, click the box to add additional diagnoses'}</legend>
                        <div class="container">
                            <div class="form-group">
                                <input type="text" name="dxcode" class="form-control" id="dxcode"  onclick="sel_diagnosis()" onkeyup="top.isSoapEdit = true;" value="{$DX_CODE}">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Session'}</legend>
                        <div class="container">
                            <div class="form-group">
                                <select name="cpt4" class="form-control">
                                    <option>--- Select Session Type ---</option>
                                    <option value="90832 - 30 min individual psychotherapy with client and/or family member,,">Individual 60 min</option>
                                    <option value="90832 - 30 min individual psychotherapy with client and/or family member,,">Individual 30 min</option>
                                    <option value="90834 - 45 min individual psychotherapy with client and/or family member,,">Individual 45 min</option>
                                    <option value="90847 - Family therapy with client present (15 min increments),,">Family tx 15 min increments + Units</option>
                                    <option value="90846 - Family therapy without client present (15 min increments),,">Family tx without client + Units</option>
                                    <option value="90849 - Multi-family group psychotherapy (15 min increments),,">MultiFamily Group + Units</option>
                                </select>
                                <label for="units" class="mt-2">Enter # of Units - Default is 1</label>
                                <input type="text" class="form-control" id="units" name="units" value="1" title="Value should be at least one, change as needed">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary btn-save" name="Submit">{xlt t='Save'}</button>
                            <button type="button" class="btn btn-secondary btn-cancel" id="btnClose">{xlt t='Cancel'}</button>
                        </div>
                        <input type="hidden" name="id" value="{$data->get_id()|attr}" />
                        <input type="hidden" name="activity" value="{$data->get_activity()|attr}" />
                        <input type="hidden" name="pid" value="{$data->get_pid()|attr}" />
                        <input type="hidden" name="process" value="true" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    {literal}
        const close = function() {
            if (top.isSoapEdit === true) {
                dlgopen('', '', 450, 125, '', '<div class="text-danger">{/literal}{xla t='Warning'}{literal}</div>', {
                    type: 'Alert',
                    html: '<p>{/literal}{xla t='Do you want to close the tabs?'}{literal}</p>',
                    buttons: [
                        {text: '{/literal}{xla t='Cancel'}{literal}', close: true, style: 'default btn-sm'},
                        {text: '{/literal}{xla t='Close'}{literal}', close: true, style: 'danger btn-sm', click: closeSoap},
                    ],
                    allowDrag: false,
                    allowResize: false,
                });
            } else {
                top.restoreSession();
                location.href = 'javascript:parent.closeTab(window.name, false)';
            }
        }

        const closeSoap = function() {
            top.isSoapEdit = false;
            top.restoreSession();
            location.href = 'javascript:parent.closeTab(window.name, false)';
        }
        $('#btnClose').click(close);
        function checkVal(id) {
            if (document.getElementById(id).checked) {
                document.getElementById(id).value = 1;
            } else {
                    document.getElementById(id).value = 0;
                }
            }

        $(function () {

            $('.datepicker').datetimepicker({
            {/literal}{php} $datetimepicker = true; {/php}
                 {php} $datetimepicker_showseconds = false; {/php}
                  {php} $datetimepicker_formatInput = false; {/php}
                  {php}require($GLOBALS['srcdir'] . '/js/xl/jquery-datetimepicker-2-5-4.js.php');{/php}
                  {php} // can add any additional javascript settings to datetimepicker here; need to prepend first setting with a comma {/php}
            });

        });
    </script>
</body>
</html>
